:root{
    --bg-color: #E5E5E5;
    --font-color-gray: #606060;     
}

.container{
    max-width: 1120px;
    margin: auto;
}

body{
    background-color: var(--bg-color);
    transition: background-color .5s;
}

header .information{
    display: flex;
}

.information h2{
    margin-right: auto;
}

.information h5{
    margin-top: 30px;
    margin-right: 10px;
    font-size: 15px;
}

.information a{
    text-decoration: none;
    color: black;
}

.btn{
    margin-top: 1.7em;
    width: 50px;
    height: 20px;
    border: 3px solid black;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.btn.active{
    margin-top: 1.7em;
    width: 50px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.btn:before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;
    transition: background .8s;
}

.btn.active:before{
    background: #fff;
    left: 30px;
}

.section-1{
    display: flex;
    margin-top: 10em;
}

.txt-1{
    font-size: 4em;
    font-weight: bold;
}

.txt-2{
    font-size: 2em;
    color: var(--font-color-gray);
}

.section-1 img{
    margin-left: auto;
}

.section-2{
    display: flex;
    margin-top: 5em;
}

.section-2 #p1{
    font-weight: bold;
    text-decoration: underline;
}

.softwares{
    margin-left: 5em;
}

.sw{
    margin-left: 6.5em;
}

.separator{
    margin-top: 50px;
    width: auto;
    height: 2px;
    background-color: var(--font-color-gray);
}

.section-3{
    display: flex;
    margin-top: 30px;
}

.card-1 img{
    width: 0.5em;
}

.card-1 p{
    font-size: 2em;
}

.card-2{
    margin-left: auto;
    margin-right: 5em;
}

.card-2 #p1{
    font-size: 2em;
}

footer{
    display: flex;
    height: 11em;
}

footer h4{
    color: blue;
    margin-top: 8em;
}

.nav{
    display: flex;
    margin-left: auto;
}

.nav h4{
    color: black;
    margin-right: 2em;
}

/*DARK THEME*/
body.active{
    background-color: #191a1c;
    color: #fff;
}

body.active .information a{
    color: #fff;
}

body.active .texts .txt-2{
    color: rgb(208, 197, 197);
}

body.active footer h4{
    color: rgb(0, 140, 255);
}

body.active footer .nav h4{
    color: #fff;
}